main {
    align-items: center;
    display: grid;
    grid-template-columns: 165px 165px 165px;
    grid-gap: 0px;
    justify-content: center;
}

app-square {
    border: 5px grey solid;
    height: 165px;
}